* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F4F4F4;
  position: relative;
  scroll-behavior: smooth;
  font-family: 'Noto Sans JP', sans-serif;
}

/* arrow */
.arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 90%;
}

.solutions .btn-solution .arrow,
.locations .content .button .arrow,
.redirec-release .arrow {
  left: 80%;
}

.solutions .btn-solution:hover .arrow {
  left: 85%;
}

.arrow:before {
  content: '';
  height: 2.5px;
  width: 8px;
  background-color: #114E4C;
  display: block;
  float: left;
  position: relative;
  transition: 0.2s ease-in-out;
}

.arrow:after {
  content: '';
  float: left;
  border-left: 5px solid #114E4C;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.solutions .btn-solution:hover .arrow::before,
.redirec-release:hover .arrow::before,
.button:hover .arrow::before,
.button-toppan:hover .arrow:before {
  background-color: #FFFFFF;
  width: 12px;
}

.solutions .btn-solution:hover .arrow::after,
.redirec-release:hover .arrow::after,
.button:hover .arrow:after,
.button-toppan:hover .arrow:after {
  border-left-color: #FFFFFF;
}



.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background: url(../images/Rectangle\ 2580@2x.png) no-repeat;
  background-size: 100% 90px;
  position: fixed;
  z-index: 1200;
}

.header .logo {
  display: flex;
  height: 90px
}

.header .header-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.header .logo-name {
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-weight: bold;
  margin: auto;
  margin-left: 30px;
}



.menu-list {
  height: 100%;
}

.menu-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.menu-list .menu-item {
  list-style: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
  margin-right: 30px;
}

.header .btn_inq {
  border: none;
  font-size: 14px;
  font-weight: bold;
  width: 125px;
  background-color: #0C4947;
  color: #fff;
  line-height: 20px;
  cursor: pointer;
}

.header .btn_inq:hover span {
  display: none;
}

.header .btn_inq:hover::before {
  content: 'Contact hover';
  border-bottom: 2px solid #FFFFFF;
}

.header .btn_english {
  font-size: 14px;
  border: none;
  font-weight: bold;
  background-color: #fff;
  color: #02B9A4;
  width: 95px;
  line-height: 20px;
  cursor: pointer;
}

.header .btn_english:hover span {
  display: none;
}

.header .btn_english:hover::before {
  content: 'English';
  border-bottom: 2px solid #02B9A4;
}

.header .button .contact-sp-header {
  display: none;
}

.header .btn-close,
.header .btn-location-sp,
.header .btn-menu-sp {
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 0 26px;
  background-color: #FFFFFF;
  color: #02B9A4;
  display: none;
}

.mv-content {
  position: relative;
}

.mv-content::after {
  content: '';
  background: url("../images/background1.png") no-repeat;
  background-size: 100% 980px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 980px;
  z-index: -1;
}

.mv-content .container {
  padding-top: 140px;
  max-width: 1300px;
  margin: 0 auto;
}

.mv-content .container .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.mv-content .content-right {
  flex: 1;
  padding-left: 70px;
  position: relative;
}

.mv-content .content-left {
  flex: 1;
}

/* slick css */
.mv-content .content-left .slick-list {
  max-width: 711px;
  overflow: hidden;
}

.mv-content .content-left .slick-track {
  display: flex;
  justify-content: center;
}

.mv-content .content-left>.slick-dots {
  display: flex;
  gap: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 99;
  margin-right: 80px;
}

.mv-content .content-left>.slick-dots .slick-active {
  opacity: 0.6;
  position: relative;
}

.mv-content .content-left>.slick-dots .slick-active button::before {
  content: '';
  width: 44px;
  height: 2px;
  background-color: #0C4947;
  top: -2px;
  left: 0;
  position: absolute;
}

.mv-content .content-left>.slick-dots li {
  list-style-type: none;
}

.mv-content .content-left>.slick-dots button {
  list-style-type: none;
  width: 87px;
  height: 79px;
  background-color: #02B9A4;
  border: none;
  font-size: 0;
}

.mv-content .content-left>.slick-dots li:nth-child(1) button {
  background: url(../images/slide/thumb1.png) no-repeat;
  background-size: cover;
}

.mv-content .content-left>.slick-dots li:nth-child(2) button {
  background: url(../images/slide/thumb2.png) no-repeat;
  background-size: cover;
}

.mv-content .content-left>.slick-dots li:nth-child(3) button {
  background: url(../images/slide/thumb3.png) no-repeat;
  background-size: cover;
}

.mv-content .content-left>.slick-dots li:nth-child(4) button {
  background: url(../images/slide/thumb4.png) no-repeat;
  background-size: cover;
  background-color: #FFFFFF;
}

.mv-content .content-left img {
  width: 711px;
  height: 583px;
  object-fit: contain;
}

.mv-content .mini-content {
  margin-top: 80px;

  color: #FFFFFF;
}

.mv-content .mini-content .title {
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.25px;
}

.mv-content .mini-content .description {
  font-size: 18px;
  margin-top: 20px;
  line-height: 29px;
  letter-spacing: 25;
  min-height: 70px;
}

.mv-content .mini-content .button {
  margin-top: 20px;
  padding: 15px 25px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 9999px;
  cursor: pointer;
}

.mv-content .mini-content .button::after {
  content: url(../images/icons/arrow_r.svg);
  width: 40px;
  transition: all .5s ease-in-out;
  margin-left: 15px;
}

.mv-content .mini-content .button:hover::after {
  content: url(../images/icons/arrow_rw.svg);
  width: 70px;
}

.mv-content .mini-content .button:hover {
  color: #FFFFFF;
  background-color: #0C4947;
}

.mv-content .mini-content .button img {
  margin-left: 15px;
}





.product {
  position: relative;
  min-height: 930px;
  margin-top: 110px;
}

.product::after {
  content: '';
  position: absolute;
  bottom: 0;
  background: url('../images/bg-product.png') no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 678px;
  z-index: -2;
}

.product .container {
  max-width: 1300px;
  margin: 40px auto 0;
  padding-right: 30px;
  position: relative;
  z-index: 100;
}

.product .container>.title {
  padding: 25px 0;
  display: inline-block;
  font-size: 116px;
  line-height: 93px;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 50px;
}

.product .container>.title::after {
  content: 'Our Products';
  font-size: 35px;
  line-height: 56px;
  color: #0C4947;
  position: absolute;
  bottom: -20px;
  width: 232px;
  left: 98%;
}

.product .product-menu {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.product .menu-item {
  font-size: 18px;
  font-weight: bold;
  line-height: 72px;
  text-align: center;
  background-color: #0C4947;
  color: #FFFFFF;
  width: 360px;
  height: 72px;
  cursor: pointer;
}

.product .menu-item.active {
  height: 82px;
  background-color: #FFFFFF;
  color: #0C4947;
  line-height: 82px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.product .menu-item.active::before,
.product .menu-item.active::after {
  display: none;
}

.product .menu-item:nth-child(2) {
  position: relative;
}

.product .menu-item:nth-child(2)::before,
.product .menu-item:nth-child(2)::after {
  content: '';
  width: 1px;
  height: 30px;
  background-color: #FFFFFF;
  position: absolute;
}

.product .menu-item:nth-child(2)::before {
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
}

.product .menu-item:nth-child(2)::after {
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
}

.product .product-content {
  position: relative;
  min-height: 200px;
  background-color: #FFFFFF;
  padding: 70px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

}

.product .product-content::after {
  content: '';
  background: url('../images/bg.png') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  right: -30px;
  bottom: -50px;
  z-index: -1;
}

.product .product-item {
  width: 20%;
  padding: 25px;
}

.product .product-item .item {
  display: flex;
  gap: 10px;
}

.product .item .img {
  background-color: #F4F4F4;
  width: 110px;
  height: 110px;
  border-radius: 30%;
}

.product .item .title {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  margin: auto;
}

.solutions {
  min-height: 830px;
  position: relative;
  background: url(../images/Path\ 20916.png) no-repeat;
  background-size: 100% 830px;
}

.solutions .container {
  max-width: 1260px;
  margin: 0 auto;
}

.solutions .container .content {
  display: flex;
}

.solutions .content .content-left {
  flex: 1;
  padding: 40px 0 0;
}

.solutions .content-left .title {
  font-size: 55px;
  letter-spacing: 5px;
  font-weight: bold;
  line-height: 70px;
}

.solutions .content-left .title span {
  display: block;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
}

.solutions .content-left .description {
  margin-top: 40px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: .2px;
}

.solutions .content-left .btn-solution {
  cursor: pointer;
  border: none;
  background-color: #FFFFFF;
  padding: 12px 50px 12px 25px;
  margin-top: 40px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 550;
  line-height: 27px;
  color: #0C4947;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  transition: width .3s ease-in-out;
  position: relative;
}

.solutions .content-left .btn-solution:hover {
  width: 320px;
}

.solutions .content-left .btn-solution:hover span {
  display: none;
  width: 0;
  height: 0;
}

.solutions .content-left .btn-solution::before {
  content: 'Total solution hover test hover';
  opacity: 0;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
  display: none;
  transition: all .4s ease-in-out;
}

.solutions .content-left .btn-solution:hover::before {
  opacity: 1;
  display: block;
}



.solutions .content-left .btn-solution:hover {
  color: #FFFFFF;
  background-color: #0C4947;
}

.solutions .content .content-right {
  flex: 1;
  padding-top: 70px ;
}

.solutions .content-right .image {
  background: url(../images/Group\ 893.png) no-repeat;
  background-size: 100% 570px;
  width: 100%;
  height: 570px;
  position: relative;
}

.solutions .content-right .image::before {
  content: '';
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
  background: url(../images/en_トータルソリューション.png) no-repeat;
  width: 547px;
  height: 547px
}

.value-packaging {
  position: relative;
}

.value-packaging::after {
  content: '';
  position: absolute;
  background: url(../images/Path\ 20917@2x.png) no-repeat;
  background-size: 100% 970px;
  width: 100%;
  height: 970px;
  top: 0;
  left: 0;
  z-index: -1;
}

.value-packaging .container {
  max-width: 1400px;
  margin: 0 auto;
}

.value-packaging .content {
  display: flex;
  flex-wrap: wrap;
  gap: 140px;
}

.value-packaging .content .content-left {
  padding-top: 70px;
}

.value-packaging .content-left .img {
  background: url(../images/Group\ 3335@2x.png) no-repeat;
  background-size: contain;
  width: 697px;
  height: 642px;
}

.value-packaging .content-right {
  flex: 1;
}

.value-packaging .content-right .title {
  font-size: 55px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: 1px;
  color: #204846;
}

.value-packaging .content-right .description {
  margin-top: 40px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: .25px;
}

.value-packaging .content-right .list-button {
  margin-top: 40px;
}


.value-packaging .content-right .button-toppan,
.value-packaging .content-right .list-button .button {
  position: relative;
  cursor: pointer;
  margin-top: 20px;
  font-size: 12px;
  color: #114E4C;
  line-height: 27px;
  border: 1px solid;
  display: block;
  padding: 10px 25px;
  border-color: #114E4C;
  border-radius: 999px;
  width: 304px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.value-packaging .content-right .list-button .button {
  padding: 10px 50px 10px 25px;
}

/* 
.value-packaging .content-right .list-button .button::after {
  content: url(../images/icons/arrow_r.svg);
  object-fit: cover;
  width: 14px;
  transition: all .4s ease-in-out;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 85%;
} */

.value-packaging .content-right .button-toppan:hover,
.value-packaging .content-right .list-button .button:hover {
  background-color: #114E4C;
  color: #FFFFFF;
}

.value-packaging .content-right .button-toppan {
  margin-top: 40px;
  font-size: 16px;
  background-color: #FFFFFF;
  border: none;
  width: 342px;
}

/* 
.value-packaging .content-right .list-button .button:hover {
  color: #FFFFFF;
  background-color: #114E4C;
} */

/* .value-packaging .content-right .button-toppan:hover::after, */
/* .value-packaging .content-right .button:hover::after {
  content: url(../images/icons/arrow_rw.svg);
  width: 20px;
} */

.news-release {
  margin-top: 80px;
}

.news-release .container {
  max-width: 1060px;
  margin: 0 auto;
  position: relative;
}

.redirec-release {
  position: absolute;
  top: 0;
  right: 0;
  color: #0C4947;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.25px;
  padding: 12px 50px 12px 25px;
  border: none;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #FFFFFF;
  cursor: pointer;
}


.redirec-release:hover {
  background-color: #114E4C;
  color: #FFFFFF;
}


.news-release .container>.title {
  font-size: 35px;
  line-height: 56px;
  text-align: center;
  color: #0C4947;
  margin-bottom: 50px;
}

.news-release .list-item {
  display: flex;
  justify-content: flex-start;
  gap: 59px;
}

.news-release .item {
  width: 310px;
  height: 420px;
}

.news-release .item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news-release .item .check {
  display: flex;
  justify-content: space-between;
}

.news-release .check .date {
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.25px;
  color: #9A9A9A;
}

.news-release .check .tag {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.news-release .check .tag img {
  width: 16px;
  height: 16px;
}

.news-release .item-content .title {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0.25px;
  padding: 10px 0;
}

.news-release .item-content .description {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.25px;

}


.locations {
  position: relative;
  margin-top: 100px;
  background: url(../images/locationbg.png) no-repeat;
  background-size: cover;
}


.locations .container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  min-height: 525px;
  position: relative;
}

.locations .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.locations .content .title {
  font-size: 55px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.locations .content .description {
  margin-top: 40px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
}

.locations .content .button {
  max-width: 510px;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.locations .content .button button {
  padding: 12px 50px 12px 25px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.25px;
  color: #0C4947;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  position: relative;
}



.locations .content .button button:hover {
  background-color: #114E4C;
  color: #FFFFFF;
}

.locations .content .button button img {
  margin-left: 10px;
}


.co-creation {
  position: relative;
  background: url(../images/Path\ 20918@2x.png) no-repeat;
  background-size: 100% 350px;
}


.co-creation .container {
  max-width: 1150px;
  margin: 0 auto;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.co-creation .container .content-left {
  display: inline-block;
}

.co-creation .container .content-right {
  margin-left: 80px;
  display: inline-block;
}

.co-creation .content-right .title {
  font-size: 25px;
  line-height: 37px;
  letter-spacing: 0.25px;
}

.co-creation .content-right .description {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.25px;
  margin: 20px 0;
}

.co-creation .content-right .button {
  display: flex;
  justify-content: flex-end;
}

.co-creation .content-right .button button {
  border: 1px solid #0C4947;
  padding: 12px 25px;
  border-radius: 999px;
  font-size: 16px;
  line-height: 25px;
  color: #0C4947;
  cursor: pointer;
  background-color: transparent;
}

.co-creation .content-right .button button::after {
  content: url(../images/icons/icon_elink.svg);
  margin-left: 15px;
  transition: all .4s linear;
}

.co-creation .content-right .button button:hover::after {
  content: url(../images/icons/icon_elinkw.svg);
}

.co-creation .content-right .button button:hover {
  background-color: #114E4C;
  color: #FFFFFF;
}


.contact {
  cursor: pointer;
  background-color: #02B9A4;
  min-height: 200px;
  margin-top: 70px;
}

.contact:hover {
  background-color: #0C4947;
}

.contact .container {
  max-width: 680px;
  margin: 0 auto;
  display: flex;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.contact .container .description {
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
}

.contact .container .button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  padding: 15px 30px;
  border-radius: 999px;
  color: #FFFFFF;
  cursor: pointer;
}

.contact .container .button::after {
  content: url(../images/icons/arrow_rw.svg);
  margin-left: 20px;
}

.business-companies .container {
  max-width: 1010px;
  margin: 70px auto;

}

.business-companies .container .title {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0.25px;
  margin-bottom: 20px;
}

.business-companies .list-item {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
}

.business-companies .business .item {
  width: 316px;
  height: 90px;
}



.business-companies .companies .item {
  width: 230px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.25px;
  background-color: #FFFFFF;
  border: none;
}

.business-companies .companies .item span {
  display: inline-block;
  text-align: start;
  width: 174px;
}

.business-companies .companies .item img {
  margin-left: 12px;
  color: #02B9A4;
}


.footer {
  background-color: #FFFFFF;
}

.footer .container {
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 40px;
  min-height: 76px;
}

.footer .footer-left {
  font-size: 12px;
  line-height: 17px;
  color: #0C4947;
}

.footer .footer-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.footer .footer-right .list-address {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  font-size: 12px;
  line-height: 17px;
  color: #0C4947;
}


.modal-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(../images/Rectangle\ 43@2x.png) no-repeat;
  background-size: cover;
  z-index: 2000;

  display: none;
}

.modal-search.active {
  display: block;
}

.modal-search .container {
  max-width: 1250px;
  margin: 50px auto 0;
  position: relative;
  height: 100vh;
}

.modal-search .title {
  font-size: 25px;
  font-weight: bold;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

.modal-search .form-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.modal-search .form-search .description {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}

.modal-search .form-search .input-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 25px;
  gap: 30px;
  background-color: #FFFFFF;
  border-radius: 999px;
  font-size: 16px;
  line-height: 25px;
}

.modal-search .form-search .input-search input {
  border: none;
  width: 400px;
}

.modal-search .form-search .input-search input:focus {
  outline: none;
}

.modal-search .container .btn-close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-search .item .title {
  color: #121212;
  text-align: left;
}

.modal-search .product {
  margin-top: 40px;
}

.modal-search .product .product-content::after,
.modal-search .product::after {
  display: none;
}

.btn-top {
  position: fixed;
  z-index: 1000;
  right: 50px;
  bottom: 100px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1300px) {
  .header .logo-name {
    display: none;
  }
  .menu-list .menu-item {
    margin-right: 20px;
  }
  .mv-content .content-left {
    position: relative;
    max-height: 510px;
  }

  .mv-content .content-left img {
    object-fit: cover;
    width: 550px;
    height: 510px;
  }

  .mv-content .content-right {
    padding-left: 40px;
  }

  .mv-content .content-left .slick-list {
    max-width: 550px;
  }

  .mv-content .content-left>.slick-dots {
    left: calc(100% + 40px);
    bottom: 0;
  }

  .mv-content .content-left>.slick-dots button {
    width: 70px;
    height: 60px;
  }

  .product .menu-item {
    width: 33.33%;
  }

  .product .product-item {
    width: 25%;
  }

  .value-packaging .content-left .img {
    width: 500px;
    height: 500px;
  }

  .value-packaging .content {
    gap: 100px;
  }


  .co-creation .container .content-left img {
    width: 450px;
  }

  .co-creation .container .content-left {
    margin-left: 0;
  }

  .co-creation .container .content-right {
    margin-left: 20px;
  }

  .business-companies .list-item {
    gap: 0;
  }

  .business-companies .business .item {
    width: 33.33%;
    padding: 8px;
  }

  .business-companies .companies .item {
    width: 23%;
    margin: 1%;
  }
    .modal-search .container {
      padding: 0 20px;
    }
        .modal-search .container .btn-close {
          right: 20px;
        }
}


@media(max-width: 968px) {
  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.4rem;
  }

  .header {
    height: 5rem;
  }

  .header .logo {
    height: 5rem;
  }

  .header .logo-name {
    display: block;
    font-size: 1.6rem;
    margin-left: 1.5rem;
  }

  .header .menu-list {
    display: none;
  }

  .header .menu-list.active {
    background: url(../images/background1.png) no-repeat;
    background-size: cover;
    background-color: #F4F4F4;
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    display: block;
  }

  .header .menu-list ul {
    display: block;
    max-width: 29.5rem;
    margin: 0 auto;
    margin-top: 5rem;
    height: 35rem;
  }

  .header .menu-list ul li:first-child {
    border-top: 1px solid #84DDD3;
  }

  .header .menu-list ul li {
    padding: 1.5rem 0;
    border-bottom: 1px solid #84DDD3;
    font-size: 1.6rem;
    line-height: 2.7rem;
    width: 30rem;
    text-align: start;
  }

  .header .menu-list .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header .menu-list .contact-sp-header {
    display: block;
    border: none;
    background-color: #FFFFFF;
    font-size: 1.6rem;
    line-height: 2.7rem;
    padding: 1rem 5rem;
    border-radius: 999rem;
  }

  .header .menu-list .contact-sp-header img {
    margin-left: 1.5rem;
  }

  .header .btn_inq,
  .header .btn_english {
    display: none;
  }

  .header .btn-location-sp,
  .header .btn-menu-sp {
    display: block;
    font-size: 1.2rem;
  }

  .header .btn-location-sp.hidden,
  .header .btn-menu-sp.hidden {
    display: none;
  }

  .header .btn-close.active {
    display: block;
  }

  .mv-content::after {
    background: url(../images/bg_mv-sp.png) no-repeat;
    background-size: 100% 71rem;
    height: 71rem;
  }

  .mv-content .background-header {
    background-size: 100% 70rem;
  }

  .mv-content .container {
    padding-top: 7rem;
    max-width: 36rem;
  }

  .mv-content .container .content {
    flex-direction: column;
  }

  .mv-content .content-right {
    padding-left: 2rem;
  }

  /* slick css */
  .mv-content .content-left .slick-list {
    max-width: 36rem;
  }

  .mv-content .content-left>.slick-dots button {
    display: none;
  }

  .mv-content .content-left img {
    width: 36rem;
    height: 28.7rem;
    object-fit: cover;
  }

  .mv-content .mini-content {
    margin-top: 4rem;
    max-width: 27.1rem;
    color: #FFFFFF;
    min-height: 25rem;
  }

  .mv-content .mini-content .title {
    font-size: 2.4rem;
    line-height: 3.1rem;
    letter-spacing: 0.025rem;
  }

  .mv-content .mini-content .description {
    font-size: 1.2rem;
    margin-top: 2rem;
    line-height: 1.9rem;
    letter-spacing: 0.025rem;
  }



  .mv-content .container>.title {
    margin-top: 0;
    bottom: 0;
    display: inline-block;
    font-size: 6rem;
    line-height: 11.9rem;
    letter-spacing: 0.5rem;
    color: #FFFFFF;
    position: relative;
    width: auto;
  }

  .mv-content .container>.title::after {
    font-size: 2.5rem;
    line-height: 4rem;
    letter-spacing: 0.075rem;
    color: #0C4947;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    width: auto;
  }

  .product {
    margin-top: 0;
    min-height: 78rem;
  }

  .product::after {
    background-image: url(../images/product_bg-sp.png);
    height: 70rem;
  }

  .product .container {
    max-width: 35.5rem;
    margin: 0 auto;
    padding-right: 1.5rem;
  }

  .product .container>.title {
    padding: 0;
    margin-top: 0;
    bottom: 0;
    display: inline-block;
    font-size: 6rem;
    line-height: 11.9rem;
    letter-spacing: 0.5rem;
    color: #FFFFFF;
    position: relative;
    width: auto;
    margin-bottom: 1rem;
  }

  .product .container>.title::after {
    font-size: 2.5rem;
    line-height: 4rem;
    letter-spacing: 0.075rem;
    color: #0C4947;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    width: auto;
  }

  .product .product-content::after {
    right: -1rem;
    bottom: -3rem;
  }


  .product .menu-item {
    font-size: 1.2rem;
    padding: 0;
    flex: 1;
    height: 5.6rem;
    line-height: 5.6rem;
    text-align: center;
    cursor: pointer;
  }

  .product .menu-item.active {
    padding: 1rem;
    height: 6rem;
    font-size: 1.6rem;
    line-height: 1.7rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product .product-content {
    padding: 2.5rem 0.6rem 0;
    gap: 0;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
  }

  .product .product-item {
    width: 33.33%;
    margin-bottom: 2.5rem;
    padding: 0;
  }

  .product .product-item .item {
    flex-direction: column;
    align-items: center;
  }

  .product .item .img {
    width: 7rem;
    height: 7rem;
    border-radius: 2.5rem;
  }

  .product .item .img img {
    width: 7rem;
    height: 7rem;
  }

  .product .item .title {
    font-size: 1.2rem;
    line-height: 1.5rem;
    max-width: 7rem;
    text-align: center;
  }

  .solutions {
    margin-top: 3.3rem;
    min-height: 83rem;
    background-image: url(../images/solution_bg-sp.png);
  }

  .solutions .container {
    max-width: 37.5rem;
  }

  .solutions .container .content {
    flex-direction: column-reverse;
  }

  .solutions .content .content-left {
    margin-top: 11rem;
    padding: 0 0 0 2.5rem;
  }

  .solutions .content-left .title {
    max-width: 27.7rem;
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
    font-weight: bold;
    line-height: 4.5rem;
  }

  .solutions .content-left .description {
    max-width: 30.8rem;
    margin-top: 2rem;
    font-size: 1.6rem;
    line-height: 2.7rem;
  }

  .solutions .content-left .btn-solution {
    padding: 1.6rem 2rem;
    margin-top: 3rem;
    border-radius: 999px;
    font-size: 1.2rem;
    font-weight: 550;
    line-height: 1.9rem;
    gap: 1.5rem;
    width: 14rem;
  }

  .solutions .content-left .btn-solution:hover {
    width: 22rem;
  }

  .solutions .content .content-right {
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  .solutions .content-right .image {
    background-size: cover;
    width: 33.1rem;
    height: 23.4rem;
  }

  .solutions .content-right .image::before {
    background-size: contain;
    width: 28.8rem;
    height: 28.8rem;
    top: 75%;
  }

  .value-packaging {
    height: 97rem;
  }

  .value-packaging::after {
    background-image: url(../images/packaging_bg-sp.png);
  }

  .value-packaging .background {
    height: 77.7rem;
    background-size: 100% 77.7rem;
    bottom: 0;
  }

  .value-packaging .container {
    max-width: 37.5rem;
  }

  .value-packaging .content {
    flex-direction: column;
    gap: 0;
  }

  .value-packaging .content .content-left {
    padding-top: 0;
  }

  .value-packaging .content-left .img {
    width: 100%;
    height: 40rem;
  }

  .value-packaging .content-right {
    position: absolute;
    top: 30%;
    margin-left: 2rem;
  }

  .value-packaging .content-right .title {
    font-size: 3.5rem;
    line-height: 4.5rem;
    max-width: 18.7rem;
    margin-bottom: 3rem;
  }

  .value-packaging .content-right .description {
    font-size: 1.6rem;
    line-height: 2.7rem;
    max-width: 28rem;
  }

  .value-packaging .content-right .list-button {
    margin-top: 3rem;
  }

  .value-packaging .content-right .button-toppan,
  .value-packaging .content-right .list-button .button {
    margin-top: 2.5rem;
    font-size: 1.2rem;
    line-height: 1.9rem;
    display: flex;
    padding: 1rem 5rem 1rem 2rem;
    width: 30rem;
    text-align: start;
    cursor: pointer;
  }

  .value-packaging .content-right .button-toppan {
    width: 26rem;
    display: flex;
    gap: 1.2rem;
  }

  .news-release {
    margin-top: 2rem;
  }

  .news-release .container {
    max-width: 33.6rem;
  }

  .redirec-release {
    font-size: 1.2rem;
    line-height: 1.9rem;
    letter-spacing: 0.025rem;
    padding: 1.6rem 4rem 1.6rem 2rem;
  }

  .news-release .container>.title {
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: start;
    max-width: 8rem;
  }

  .news-release .list-item {
    display: block;
  }

  .news-release .item {
    margin-top: 3.5rem;
    width: 100%;
    height: 11.7rem;
    position: relative;
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
  }

  .news-release .item img {
    width: 14.3rem;
    height: 9.3rem;
    object-fit: contain;
    display: inline-block;
  }

  .news-release .item .check {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .news-release .check .tag {
    font-size: 1.2rem;
  }

  .news-release .check .tag img {
    width: 1.6em;
    height: 1.6rem;
  }

  .news-release .check .date {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  .news-release .item-content {
    display: inline-block;
  }

  .news-release .content {
    width: 13.7em;
  }

  .news-release .item-content .title {
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-left: 1.5rem;
  }

  .news-release .item-content .description {
    display: none;
  }


  .locations {
    height: 48.5rem;
    margin-top: 7rem;
    background-image: url(../images/locations_bg-sp.png);
  }


  .locations .container {
    max-width: 37.5rem;
    padding: 0 2.5rem;
  }

  .locations .content .title {
    font-size: 4rem;
    line-height: 4.5rem;
  }

  .locations .content .description {
    margin-top: 5rem;
    font-size: 1.6rem;
    line-height: 2.7rem;
    max-width: 32.5rem;
  }

  .locations .content .button {
    justify-content: center;
  }

  .co-creation {
    background-image: url(../images/co-creation_bg-sp.png);
    min-height: 50rem;
    background-size: 100% 50rem;
  }

  .co-creation .container {
    max-width: 37.5rem;
    margin: 7.6rem auto 0;
    padding: 6rem 2.5rem 0;
    position: relative;
  }

  .co-creation .container .content-left {
    margin-left: 0;
  }

  .co-creation .container .content-left img {
    width: 32.2rem;
    height: 13.3rem;
    object-fit: cover;
  }

  .co-creation .container .content-right {
    margin-left: 0;
  }

  .co-creation .content-right .title {
    font-size: 2rem;
    line-height: 3.2rem;
    position: absolute;
    top: 0;
    left: 2.5rem;
  }

  .co-creation .content-right .description {
    max-width: 32.5rem;
    font-size: 1.6rem;
    line-height: 2.7rem;
    margin: 3rem 0 2rem;
  }

  .co-creation .content-right .button button {
    border: 1px solid #0C4947;
    background-color: transparent;
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding: 1.3rem 2rem;
  }

  .contact {
    margin-top: 3rem;
  }

  .contact .container {
    max-width: 37.5rem;
    flex-direction: column;
    gap: 0;
    padding: 6.4rem 2.5rem;
  }

  .contact .container .description {
    font-size: 1.6rem;
    line-height: 2.7rem;
    max-width: 32.5rem;
  }

  .contact .container .button {
    padding: 1.6rem 4rem;
    font-size: 1.2rem;
    line-height: 1.9rem;
    margin-top: 4rem;
    justify-content: center;
  }

  .business-companies .container {
    max-width: 37.5rem;
    padding: 0 2rem;
  }

  .business-companies .container .title {
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .business-companies .list-item {
    gap: 2rem;
  }

  .business-companies .business .item {
    width: 100%;
    height: 9rem;
  }

  .business-companies .companies .list-item {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .business-companies .companies .item {
    padding: 1.2rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: 45%;
  }

  .footer .container {
    padding: 3rem 2.4rem;
    max-width: 37.5rem;
    height: 25.9rem;
    display: flex;
    flex-direction: column-reverse;
  }

  .footer .footer-left {
    font-size: 1.2rem;
    line-height: 1.8rem;
    max-width: 32.5rem;
  }

  .footer .footer-right .list-address {
    flex-wrap: wrap;
    max-width: 32.5rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    gap: 4rem;
  }

  .footer .list-address .address:nth-child(1) {
    padding-right: 11rem;
  }

  .footer .list-address .address {
    padding-right: 2.7rem;
  }

  .modal-search .container {
    max-width: 35.5rem;
  }

  .modal-search .title {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }

  .modal-search .form-search {
    gap: 1rem;
    margin-top: 3rem;
  }

  .modal-search .form-search .description {
    font-size: 1.2rem;
  }

  .modal-search .form-search .input-search {
    padding: 1rem 1.5rem;
    gap: 1rem;
    font-size: 1.2rem;
  }

  .modal-search .form-search .input-search img {
    width: 2rem;
    height: 2rem;
  }

  .modal-search .form-search .input-search input {
    width: 17rem;
  }

  .modal-search .container .btn-close img {
    width: 2rem;
    height: 2rem;
  }

  .btn-top {
    right: 5rem;
    bottom: 10rem;
  }

  .btn-top img {
    object-fit: contain;
    width: 4rem;
    height: 4rem;
  }
}